<% if (locals.error) { %>
<h5 class="text-danger">Error!</h5>
<h6 class="text-white"><%= error %></h6>
<% return error; } %>
<h1>Your Question</h1>
<h2 class="badge text-bg-dark fs-5 mb-3"><%= title %></h2>
<br />
<button class="btn btn-dark my-3" id="copylink" onclick="copyLink()">
	<i class="fa-solid fa-paper-plane"></i> Share this question!
</button>
<button class="btn btn-primary mx-3" onclick="redirect()">
	<i class="fa-solid fa-copy"></i> Preview
</button>
<br />
<button
	class="btn btn-primary mb-3"
	onclick="window.location = window.location"
>
	<i class="fa fa-refresh" aria-hidden="true"></i> Refresh
</button>

<script>
	function redirect() {
		const url = window.location.href;
		const newUrl = url.replace("/admin/", "/");

		window.location.href = newUrl;
	}

	function copyLink() {
		const url = window.location.href;
		const newUrl = url.replace("/admin/", "/");

		const tempInput = document.createElement("input");
		tempInput.style = "position: absolute; left: -1000px; top: -1000px";
		tempInput.value = newUrl;
		document.body.appendChild(tempInput);
		tempInput.select();

		try {
			document.execCommand("copy");
			document.getElementById("copylink").innerHTML =
				'<i class="fa-solid fa-paper-plane"></i> Link Copied!';
		} catch (error) {
			console.error("Failed to copy link: ", error);
		}

		document.body.removeChild(tempInput);
	}
</script>

<table class="table table-striped-columns table-dark mx-auto">
	<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col">Answers</th>
			<th scope="col">Action</th>
		</tr>
	</thead>
	<tbody>
		<% for (let i = 0; i < questions.length; i++) { %>
		<tr>
			<th scope="row"><%= i + 1 %></th>
			<td><%= questions[i].question %></td>
			<td>
				<button
					onclick="window.location.href = '/home/askme/admin/<%= id %>/questions/<%= questions[i].id %>'"
					class="btn btn-success"
				>
					<i class="fa-solid fa-eye"></i> Open
				</button>
				<button
					onclick="window.location.href = '/home/askme/admin/<%= id %>/questions/<%= id %>/<%= questions[i].id %>/delete'"
					class="btn btn-danger"
				>
					<i class="fa-solid fa-trash"></i> Delete
				</button>
			</td>
		</tr>
		<% } %>
	</tbody>
</table>

<button
	class="btn btn-dark"
	onclick="window.location.href = '/home/askme/admin'"
>
	<i class="fas fa-arrow-left"></i> Back
</button>
