<% if (locals.error) { %>
<h4 class="text-danger">Error!</h4>
<h5 class="text-light"><%= error %></h5>
<% } %>

<div id="container">
	<% if (error) { %>
	<h1><%= error %>!</h1>
	<title>AskMe | <%= error %></title>
	<meta content="AskMe" property="og:title" />
	<meta content="<%= error %>" property="og:description" />
	<% } else { %>
	<h1><%= title.charAt(0).toUpperCase() + title.slice(1) %></h1>
	<title>AskMe | <%= title %></title>
	<meta content="AskMe" property="og:title" />
	<meta content="<%= title %>" property="og:description" />
	<form action="/submit/<%= id %>" id="questionform" method="post">
		<!-- <label for="question">Your Question:</label> -->
		<label for="question" class="form-label fs-4">Write something:</label>
		<input
			class="form-control"
			type="text"
			id="question"
			name="question"
			maxlength="100"
			required
		/>
		<button type="submit" class="btn btn-success mt-3">Submit</button>
	</form>
	<% } %>
</div>
